* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: linear-gradient(90deg, #02819b 0%, #090979 60%, #05024d 100%); }

.header {
  display: flex;
  flex-direction: row; }

.logoinicio {
  margin: 20px 20px 20px 20px;
  padding: 20px;
  margin-left: 75px;
  clip-path: circle(35% at 50% 50%);
  display: inline-block;
  width: 300px;
  transition: all 3s ease; }
  .logoinicio:hover {
    transform: scale(1.2, 1.2); }

.barradenav {
  display: inline-block;
  margin-top: 150px;
  width: 100%;
  margin-left: 450px; }
  .barradenav .letras {
    color: white; }

.pd {
  color: white;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 6px;
  font-size: 20px;
  border-radius: 20px;
  height: 40px;
  width: 270px;
  margin-left: 300px;
  margin-top: 90px;
  border-bottom: 1px black outset;
  border-right: 1px black outset; }

.contenedorm {
  display: grid;
  grid-template-areas: "1 2 3 4" "5 6 7 8" "9 10 11 12";
  grid-template-rows: 30% 30% 30%;
  grid-template-columns: 15% 15% 15% 15%;
  column-gap: 87px;
  row-gap: 70px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-top: 40px; }

.cartas {
  max-width: 300px;
  height: 500px;
  border-radius: 6px;
  background-color: white;
  border-bottom: 1px black outset;
  border-right: 1px black outset; }

.img-carta {
  width: 200px;
  height: 150px;
  margin-left: 15%;
  margin-top: 5%; }

.cuerpo-carta {
  margin-top: 20px;
  margin-bottom: 10px; }

.titulo-carta {
  font-size: 18px;
  margin-left: 15%;
  font-family: Arial, Helvetica, sans-serif; }

.texto-carta {
  margin-left: 13px;
  margin-right: 12px;
  margin-top: 10%;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; }

.boton-carta {
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  height: 35px;
  width: 90px;
  background-color: #3B71CA;
  color: white;
  font-size: 15px;
  border-radius: 7px;
  border: 1px solid #3B71CA;
  font-family: Arial, Helvetica, sans-serif; }

.ah-titulo {
  margin-left: 30%; }

.ah-boton {
  margin-top: 103px; }

.mh-titulo {
  margin-left: 30%; }

.mh-boton {
  margin-top: 125px; }

.mh-titulo {
  margin-left: 23%; }

.tc-titulo {
  margin-left: 20%; }

.ac-titulo {
  margin-left: 25%; }

.mc-titulo {
  margin-left: 25%; }

.mc-boton {
  margin-top: 78px; }

.mmc-titulo {
  margin-left: 18%; }

.tl-titulo {
  margin-left: 20%; }

.tl-boton {
  margin-top: 55px; }

.ml-titulo {
  margin-left: 25%; }

.ml-boton {
  margin-top: 78px; }

.mml-titulo {
  margin-left: 25%; }

.mml-boton {
  margin-top: 77px; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 25px;
  height: 100px; }
  footer .footerredes {
    margin-right: 15%; }
  footer .footermarcas, footer .footerredes, footer .footerpagos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px; }
  footer .footerpagos {
    margin-left: 15%; }

.logo {
  width: 55px;
  height: 55px; }

.productosp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .productosp .card {
    max-width: 1200px; }
  .productosp .card-p {
    width: 200px;
    height: 150px;
    margin-left: 25%;
    margin-top: 30px;
    align-items: center; }
  .productosp .card-body {
    height: 225px; }
  .productosp .card-btn {
    margin-top: 50px;
    margin-right: 600px;
    margin-bottom: 20px; }
  .productosp .card-btn2060, .productosp .card-btn2070 {
    margin-top: 50px;
    margin-right: 600px; }
  .productosp .card-btn3060, .productosp .card-btn3080, .productosp .card-btn3090 {
    margin-top: 25px; }
  .productosp .card-btn4090 {
    margin-top: 2px; }

.tituloayuda {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.subtituloayuda1 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 25%;
  color: white; }

.accordion {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
  width: 1000px; }

.maincarro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card-carro {
  width: 1200px;
  height: 220px; }

.card-bodyy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .card-bodyy .card-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 31%; }

.card-title2 {
  margin-right: 420px;
  margin-top: 30px; }

.card-text3 {
  margin-right: 600px; }

.img-carro {
  height: 200px;
  width: 200px;
  margin-left: 20%; }

.card-text {
  color: blue; }

.card2-text {
  margin-top: 25px; }

.boton-comprar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 21.9%; }

.btn-comprar {
  margin-top: 10px;
  margin-bottom: 50px; }

@media (max-width: 576px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .header .logoinicio {
      margin-left: 0px; }
    .header .barradenav {
      margin-left: 0;
      margin-top: 40px;
      margin-bottom: 60px; }
  .pd {
    margin-left: 26.5%; }
  .a1 {
    grid-area: 1; }
  .a2 {
    grid-area: 2; }
  .a3 {
    grid-area: 3; }
  .a4 {
    grid-area: 4; }
  .a5 {
    grid-area: 5; }
  .a6 {
    grid-area: 6; }
  .a7 {
    grid-area: 7; }
  .a8 {
    grid-area: 8; }
  .a9 {
    grid-area: 9; }
  .a10 {
    grid-area: 10; }
  .a11 {
    grid-area: 11; }
  .a12 {
    grid-area: 12; }
  .contenedorm {
    display: grid;
    grid-template-rows: 500px 500px 500px 500px 500px 500px 500px 500px 500px 500px 500px 500px;
    grid-template-areas: "1" "2" "3" "3" "4" "5" "6" "7" "8" "9" "10" "11" "12";
    grid-template-columns: 50%; }
  .al-boton {
    margin-top: 5px; }
  .mhq-boton {
    margin-top: 45%; }
  .mh-boton {
    margin-top: 10%; }
  .mhq-titulo {
    margin-left: 30%; }
  footer {
    width: 100%; }
    footer .footerredes {
      width: 110px;
      margin-right: 20px; }
    footer .footermarcas, footer .footerredes, footer .footerpagos {
      width: 110px; }
    footer .footerpagos {
      width: 110px;
      margin-left: 20px; }
  .logo {
    width: 30px;
    height: 30px; }
  .productosp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .productosp .card {
      width: 80%; }
    .productosp .card-p {
      width: 150px;
      height: 100px;
      margin-left: 35%; }
    .productosp .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 300px; }
    .productosp .card-text {
      font-size: 15px; }
    .productosp .card-btn {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 0; }
    .productosp .card-btn2060, .productosp .card-btn2070 {
      margin-top: 40px;
      margin-right: 200px; }
    .productosp .card-btn2070 {
      margin-top: 60px;
      margin-right: 200px; }
    .productosp .card-btn2080 {
      margin-top: 15px;
      margin-right: 250px; }
    .productosp .card-btn3050 {
      margin-top: 35px; }
    .productosp .card-btn3060, .productosp .card-btn3080, .productosp .card-btn3090 {
      margin-top: 15px; }
    .productosp .card-btn3070 {
      margin-top: 35px;
      margin-right: 200px; }
    .productosp .card-btn3080 {
      margin-top: 10px;
      margin-right: 200px; }
    .productosp .card-btn4090 {
      margin-top: 10px; }
  .subtituloayuda1 {
    margin-left: 10%; }
  .accordion {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%; }
  .card-carro {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%; }
  .img-carro {
    height: 150px;
    width: 150px;
    margin-left: 30%; }
  .card-bodyy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%; }
  .card-title2 {
    height: auto;
    margin-right: 0px; }
  .boton-comprar {
    margin-right: 17.5%; } }

@media (max-width: 390px) {
  .pd {
    margin-left: 16%; }
  .cartas {
    height: 530px; }
    .cartas .img-carta {
      width: 130px;
      height: 90px; }
    .cartas .titulo-carta {
      font-size: 15px;
      margin-left: 10%; }
    .cartas .texto-carta {
      font-size: 15px; }
    .cartas .tth {
      margin-right: 10px; }
    .cartas .ah-titulo {
      margin-left: 29%; }
    .cartas .mhq-titulo {
      margin-left: 29%; }
    .cartas .mh-titulo {
      margin-left: 19%; }
    .cartas .tc-titulo {
      margin-left: 15%; }
    .cartas .ac-titulo {
      margin-left: 19%; }
    .cartas .mc-titulo {
      margin-left: 20%; }
    .cartas .tl-titulo {
      margin-left: 15%; }
    .cartas .ml-titulo {
      margin-left: 25%; }
    .cartas .mml-titulo {
      margin-left: 23%; }
    .cartas .bth {
      margin-top: 32%; }
    .cartas .ah-boton {
      margin-top: 90%; }
    .cartas .mh-boton {
      margin-top: 101%; }
    .cartas .mh-boton {
      margin-top: 32%; }
    .cartas .mhq-boton {
      margin-top: 102%; }
    .cartas .tc-boton {
      margin-top: 32%; }
    .cartas .ac-boton {
      margin-top: 32%; }
    .cartas .mc-boton {
      margin-top: 78%; }
    .cartas .mmc-boton {
      margin-top: 42%; }
    .cartas .tl-boton {
      margin-top: 56%; }
    .cartas .al-boton {
      margin-top: 32%; }
    .cartas .ml-boton {
      margin-top: 66%; }
    .cartas .mml-boton {
      margin-top: 66%; }
  .boton-390-2060 {
    margin-top: 50px; }
  .card-p {
    margin-left: 20%; }
  .card {
    height: 500px; }
  .card-btn2060, .productosp .card-btn2070 {
    width: 150px;
    margin-top: 0px; }
  .card-text {
    width: 300px; } }
