$colorw: white;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, rgb(2, 129, 155) 0%, rgba(9,9,121,1) 60%, rgb(5, 2, 77) 100%);
}

.header{
    display: flex;
    flex-direction: row;
    
}

.logoinicio{
    margin: 20px 20px 20px 20px;
    padding: 20px;
    margin-left: 75px;
    clip-path: circle(35% at 50% 50%);
    display: inline-block;
    width: 300px;
    transition: all 3s ease;
    &:hover{
        transform: scale(1.2, 1.2);
    }
}


.barradenav{
    display: inline-block;
    margin-top: 150px;
    width: 100%;
    margin-left: 450px;
    .letras{
        color: $colorw;
    }
}


.pd{
    color: $colorw;
    background-color: $colorw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 6px;
    font-size: 20px;
    border-radius: 20px;
    height: 40px;
    width: 270px;
    margin-left: 300px;
    margin-top: 90px;
    border-bottom: 1px black outset;
    border-right: 1px black outset;
}


.contenedorm{
    display: grid;
    grid-template-areas:
    "1 2 3 4"
    "5 6 7 8"
    "9 10 11 12";
    grid-template-rows: 30% 30% 30%;
    grid-template-columns: 15% 15% 15% 15%;
    column-gap: 87px;
    row-gap: 70px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.cartas{
    max-width: 300px;
    height: 500px;
    border-radius: 6px;
    background-color: white;
    border-bottom: 1px black outset;
    border-right: 1px black outset;
}
.img-carta{
    width: 200px;
    height: 150px;
    margin-left: 15%;
    margin-top: 5%;
       
}
.cuerpo-carta{
    margin-top: 20px;
    margin-bottom: 10px;
}
.titulo-carta{
    font-size: 18px;
    margin-left: 15%;
    font-family: Arial, Helvetica, sans-serif;
}
.texto-carta{
    margin-left: 13px;
    margin-right: 12px;
    margin-top: 10%;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.boton-carta{
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 35px;
    width: 90px;
    background-color: #3B71CA;
    color: white;
    font-size: 15px;
    border-radius: 7px;
    border: 1px solid #3B71CA;
    font-family: Arial, Helvetica, sans-serif;
}


.ah-titulo{
    margin-left: 30%;
}
.ah-boton{
    margin-top: 103px;
}


.mh-titulo{
    margin-left: 30%;
}
.mh-boton{
    margin-top: 125px;
}


.mh-titulo{
    margin-left: 23%;
}


.tc-titulo{
    margin-left: 20%;
}
.ac-titulo{
    margin-left: 25%;
}
.mc-titulo{
    margin-left: 25%;
}
.mc-boton{
    margin-top: 78px;
}
.mmc-titulo{
    margin-left: 18%;
}


.tl-titulo{
    margin-left: 20%;
}
.tl-boton{
    margin-top: 55px;
}
.ml-titulo{
    margin-left: 25%;
}
.ml-boton{
    margin-top: 78px;
}
.mml-titulo{
    margin-left: 25%;
}
.mml-boton{
    margin-top: 77px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 25px;
    height: 100px;
    
    .footerredes{
        @extend .footermarcas;
        margin-right: 15%;
    }
    .footermarcas{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 200px;
        
    }
    .footerpagos{
        @extend .footermarcas;
        margin-left: 15%;
    }

}


.logo{
    width: 55px;
	height: 55px;
}

// Pag main hasta aca.

// Pag productos

.productosp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .card{
        max-width: 1200px;
    }
    .card-p{
        width: 200px;
        height: 150px;
        margin-left: 25%;
        margin-top: 30px;
        align-items: center;
    }
    .card-body{
        height: 225px;
        
    }
    .card-btn{
        margin-top: 50px;   
        margin-right: 600px;
        margin-bottom: 20px;
    }
    .card-btn2060{
        margin-top: 50px;
        margin-right: 600px;
    }
    .card-btn2070{
        @extend .card-btn2060;
    }
    .card-btn3060{
        margin-top: 25px;
    }
    .card-btn3080{
        @extend .card-btn3060;
    }
    .card-btn3090{
        @extend .card-btn3060;
    }
    .card-btn4090{
        margin-top: 2px;
    }
}

// pag de ayuda


.tituloayuda{
    color: $colorw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subtituloayuda1{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 25%;
    color: $colorw;
}

.accordion{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    width: 1000px;
}

// pag de carro


.maincarro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-carro{
    width: 1200px;
    height: 220px;
}

.card-bodyy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .card-text{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 15%;
        margin-right: 31%;
    }
}
.card-title2{
    margin-right: 420px;
    margin-top: 30px;
}
.card-text3{
    margin-right: 600px;
}
.img-carro{
    height: 200px;
    width: 200px;
    margin-left: 20%;
}

.card-text{
    color: blue;
}

.card2-text{
    margin-top: 25px;
}

.boton-comprar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 21.9%; 
}
.btn-comprar{
    
    margin-top: 10px;
    margin-bottom: 50px;
}

// Responsive mobile.

@media (max-width: 576px){
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logoinicio{
            margin-left: 0px;
        }
        .barradenav{
            margin-left: 0;
            margin-top: 40px;
            margin-bottom: 60px;
        }
    }

    .pd{
        margin-left: 26.5%;
    }
    
    .a1{
        grid-area: 1;
    }
    .a2{
        grid-area: 2;
    }
    .a3{
        grid-area: 3;
    }
    .a4{
        grid-area: 4;
    }
    .a5{
        grid-area: 5;
    }
    .a6{
        grid-area: 6;
    }
    .a7{
        grid-area: 7;
    }
    .a8{
        grid-area: 8;
    }
    .a9{
        grid-area: 9;
    }
    .a10{
        grid-area: 10;
    }
    .a11{
        grid-area: 11;
    }
    .a12{
        grid-area: 12;
    }
    .contenedorm{
        display: grid;
        grid-template-rows: 500px 500px 500px 500px 500px 500px 500px 500px 500px 500px 500px 500px;
        grid-template-areas: "1"
        "2"
        "3"
        "3"
        "4"
        "5"
        "6"
        "7"
        "8"
        "9"
        "10"
        "11"
        "12";
        grid-template-columns: 50%;
    }
    .al-boton{
        margin-top: 5px;
    }
    .mhq-boton{
        margin-top: 45%;
    }
    .mh-boton{
        margin-top: 10%;
    }

    .mhq-titulo{
        margin-left: 30%;
    }

    footer{
        width: 100%;
        .footerredes{
            width: 110px;
            margin-right: 20px;
        }
        .footermarcas{
            width: 110px;
        }
        .footerpagos{
            width: 110px;
            margin-left: 20px;
        }
    }

    .logo{
        width: 30px;
        height: 30px;
    }

    // fin de main y comienzo de productos.

    .productosp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .card{
            width: 80%;
        }
        .card-p{
            width: 150px;
            height: 100px;
            margin-left: 35%;
        }
        .card-body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 300px;
        }
        .card-text{
            font-size: 15px;
        }
        .card-btn{
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 0;
        }
        .card-btn2060{
            margin-top: 40px;
            margin-right: 200px;
        }
        .card-btn2070{
            margin-top: 60px;
            margin-right: 200px;
        }
        .card-btn2080{
            margin-top: 15px;
            margin-right: 250px;
        }
        .card-btn3050{
            margin-top: 35px;
        }
        .card-btn3060{
            margin-top: 15px;
        }
        .card-btn3070{
            margin-top: 35px;
            margin-right: 200px;
        }
        .card-btn3080{
            margin-top: 10px;
            margin-right: 200px;
        }
        .card-btn4090{
            margin-top: 10px;
        }
    }

    // fin de productos, comienzo de ayuda

    .subtituloayuda1{
        margin-left: 10%;
    }

    .accordion{
        
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    //fin de ayuda, comienzo de carro

    .card-carro{
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
    }

    .img-carro{
        height: 150px;
        width: 150px;
        margin-left: 30%;
    }
    
    
    .card-bodyy{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .card-title2{
        height: auto;
        margin-right: 0px;
    }
    
    .boton-comprar{
        margin-right: 17.5%;
    }
}

@media (max-width: 390px){
    

    .pd{
        margin-left: 16%;
    }


    .cartas{
        height: 530px;
        .img-carta{
            width: 130px;
            height: 90px;
        }
        .titulo-carta{
            font-size: 15px;
            margin-left: 10%;
        }
        .texto-carta{
            font-size: 15px;
        }
        .tth{
            margin-right: 10px;
        }
        .ah-titulo{
            margin-left: 29%;
        }
        .mhq-titulo{
            margin-left: 29%;
        }
        .mh-titulo{
            margin-left: 19%;
        }
        .tc-titulo{
            margin-left: 15%;
        }
        .ac-titulo{
            margin-left: 19%;
        }
        .mc-titulo{
            margin-left: 20%;
        }
        .tl-titulo{
            margin-left: 15%;
        }
        .ml-titulo{
            margin-left: 25%;
        }
        .mml-titulo{
            margin-left: 23%;
        }


        .bth{
            margin-top: 32%;
        }
        .ah-boton{
            margin-top: 90%;
        }
        .mh-boton{
            margin-top: 101%;
        }
        .mh-boton{
            margin-top: 32%;
        }
        .mhq-boton{
            margin-top: 102%;
        }
        .tc-boton{
            margin-top: 32%;
        }
        .ac-boton{
            margin-top: 32%;
        }
        .mc-boton{
            margin-top: 78%;
        }
        .mmc-boton{
            margin-top: 42%;
        }
        .tl-boton{
            margin-top: 56%;
        }
        .al-boton{
            margin-top: 32%;
        }
        .ml-boton{
            margin-top: 66%;
        }
        .mml-boton{
            margin-top: 66%;
        }
    }

    //termino de index, comienzo de productos

    .boton-390-2060{
        margin-top: 50px;
    }
    .card-p{
       margin-left: 20%; 
    }
    .card{
        height: 500px;
    }
    .card-btn2060{
        width: 150px;
        margin-top: 0px;
    }
    
    .card-text{
        width: 300px;
    }



}
